/****************************************************************************/
/*BLOGS SECTION SELECTORS****************************************************/
/****************************************************************************/

.blogs {
    width: 70%;
    text-align: center;
    margin: 80px auto 0px auto;
    color: white;
}

.blogs li {
    background: rgba(255, 255, 255, 0.8);
}

.soon {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 400px;
}