/****************************************************************************/
/*GAMES SECTION SELECTORS****************************************************/
/****************************************************************************/

.section {
    text-align: center;
    margin: 80px auto 0px auto;
    font-size: 35px;
    background: #474B4F;
}

.other-section {
    text-align: center;
    margin: 0px auto 0px auto;
    font-size: 35px;
    background: #474B4F;
}

.games {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    color: black;
}

.games-container li:first-child {
    margin-top: 0px;
}

.games-container li {
    background: #222629;
    border-radius: 10px;
    width: 210px;
    display: inline-block;
    margin: 10px;
}

.games-container li div {
    margin: 10px 0px 25px 0px;
}

.bg1 {
    background: url(../img/ROPImage.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 7px;
}

.bg1:hover {
    background-size: 210px;
}

.bg2 {
    background: url(../img/S3.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 7px;
}

.bg2:hover {
    background-size: 280px;
}

.bg3 {
    background: url(../img/TheGoodMinerS.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 7px;
}

.bg:hover {
    background-size: 280px;
}

.bg4 {
    background: url(../img/SJMS.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 7px;
} 

.bg4:hover {
    background-size: 280px;
}

.content .block {
    display: inline-block;
}

.content .store {
    font-size: 14px;
    padding: 0px 7px;
    border-radius: 4px;
    position: relative;
    top: 10px;
    width: 40%;
}

.cover img {
    opacity: 1;
    width: 200px;
    height: 131px;
    margin-top: 30px;
}

.content .logo {
    position: relative;
}

.content .icon img {
    width: 64px;
}

.red {
    background-color: #a60b0b;
}

.purple {
    background-color: #813772;
}

.blue {
    background-color: #0f579f;
}

/****************************************************************************/
/*FOOTER SELECTORS***********************************************************/
/****************************************************************************/

.footer-two {
    text-align: center;
    background: #474B4F;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

/****************************************************************************/
/*GAMES SECTION RESPONSIVE***************************************************/
/****************************************************************************/

@media screen and (max-width: 1147px) {
    .content {
        padding-top: 10px;
    }

    .content p {
        text-align: center;
    }

    .content .logo {
        margin-right: 0px;
    }

    .content .icon img {
        margin-left: 0px;
    }

    .content .icon {
        margin: 0 auto;
    }
}

@media screen and (max-width: 504px) {
    .section {
        margin: 110px auto 0px auto;
    }
}

@media screen and (max-width: 429px) {
    .section {
        margin: 150px auto 0px auto;
    }
}

