/****************************************************************************/
/*GAMES SECTION SELECTORS****************************************************/
/****************************************************************************/

.section {
    text-align: center;
    margin: 80px auto 0px auto;
    font-size: 35px;
}

.games {
    width: 70%;
    margin: 10px auto;
    text-align: center;
    color: black;
}

.games-container li:first-child {
    margin-top: 0px;
}

.games-container li {
    background: rgba(255, 255, 255, 0.8);
    margin-top: 50px;
    border-radius: 10px;
}

.content .block {
    display: inline-block;
}

.content p {
    text-align: left;
}

.content .description {
    background: rgb(128, 128, 128, 0.6);
    padding: 20px;
    position: relative;
    margin: 20px 0;
}

.content .store {
    width: 200px;
}

.cover img {
    width: 200px;
    height: 131px;
}

.content .logo {
    position: relative;
    margin-right: 50px;
}

.content .icon img {
    width: 64px;
    margin-left: 50px;
    margin-bottom: 25px;
}

/****************************************************************************/
/*OTHERS SECTION SELECTORS***************************************************/
/****************************************************************************/
/*
.other-icon img {
    width: 64px;
    margin-left: 50px;
    position: relative;
    top: -25px;
}

.other-logo {
    margin-top: 30px;
    margin-right: 50px;
    vertical-align: middle;
}

.other-description p {
    background: rgb(128, 128, 128, 0.6);
    padding: 20px;
    position: relative;
    top: -38px;
} */

.other-icon img {
    width: 64px;
    margin-left: 50px;
    position: relative;
    vertical-align: middle;
}

.other-logo {
    vertical-align: middle;
    margin: 20px 50px 20px 0px;
}

.other-description p {
    background: rgb(128, 128, 128, 0.6);
    padding: 20px;
    position: relative;
    vertical-align: middle;
}



/****************************************************************************/
/*GAMES SECTION RESPONSIVE***************************************************/
/****************************************************************************/

@media screen and (max-width: 1147px) {
    .content {
        padding-top: 10px;
    }

    .content .block {
        display: block;
    }

    .content p {
        text-align: center;
    }

    .content .logo {
        margin-right: 0px;
    }

    .content .icon img {
        margin-left: 0px;
    }

    .content .icon {
        margin: 0 auto;
    }
}

/****************************************************************************/
/*OTHERS SECTION RESPONSIVE**************************************************/
/****************************************************************************/

@media screen and (max-width: 1147px) {
    .other-icon img {
        margin-left: 0;
        top: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .other-icon {
        margin: 0 auto;;
    }
    
    .other-logo {
        margin-right: 0px;
    }
    
    .other-description p {
        margin-top: 20px;
        position: static;
        top: 0px;
    }
}
