/****************************************************************************/
/*GAMES SECTION SELECTORS****************************************************/
/****************************************************************************/

.section {
    text-align: center;
    margin: 80px auto 0px auto;
    font-size: 35px;
    background: #474B4F;
}

.other-section {
    text-align: center;
    margin: 0px auto 0px auto;
    font-size: 35px;
    background: #474B4F;
}

.games {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    color: black;
    padding: 0 180px;
}

.games-container li:first-child {
    margin-top: 0px;
}

.games-container li {
    background: #222629;
    margin-top: 50px;
    border-radius: 10px;
    width: 210px;
}

.bg1 {
    background: url(../img/ROPImage.png);
    background-position: center;
    background-size: cover;
    height: 200px;
    border-radius: 7px;
}

.content .block {
    display: inline-block;
}

.content p {
    text-align: left;
}

.content .description {
    background: rgb(128, 128, 128, 0.6);
    padding: 20px;
    position: relative;
    margin: 20px 0;
}

.content .store {
    font-size: 14px;
    padding: 0px 7px;
    border-radius: 4px;
    background: #813772;
    margin-top: 8px;
}

.cover img {
    opacity: 1;
    width: 200px;
    height: 131px;
    margin-top: 30px;
}

.content .logo {
    position: relative;
}

.content .icon img {
    width: 64px;
    margin-left: 50px;
    margin-bottom: 25px;
}

/****************************************************************************/
/*FOOTER SELECTORS***********************************************************/
/****************************************************************************/

.footer-two {
    text-align: center;
    background: #474B4F;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}

.other-icon img {
    width: 64px;
    margin-left: 50px;
    position: relative;
    vertical-align: middle;
}

.other-logo {
    vertical-align: middle;
    margin: 20px 50px 20px 0px;
}

.other-description p {
    background: rgb(128, 128, 128, 0.6);
    padding: 20px;
    position: relative;
    vertical-align: middle;
}



/****************************************************************************/
/*GAMES SECTION RESPONSIVE***************************************************/
/****************************************************************************/

@media screen and (max-width: 1147px) {
    .content {
        padding-top: 10px;
    }

    .content .block {
        display: block;
    }

    .content p {
        text-align: center;
    }

    .content .logo {
        margin-right: 0px;
    }

    .content .icon img {
        margin-left: 0px;
    }

    .content .icon {
        margin: 0 auto;
    }
}

/****************************************************************************/
/*OTHERS SECTION RESPONSIVE**************************************************/
/****************************************************************************/

@media screen and (max-width: 1147px) {
    .other-icon img {
        margin-left: 0;
        top: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .other-icon {
        margin: 0 auto;;
    }
    
    .other-logo {
        margin-right: 0px;
    }
    
    .other-description p {
        margin-top: 20px;
        position: static;
        top: 0px;
    }
}
